<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />

    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link href="css/courses.css" rel="stylesheet" />
    <link href="css/blog.css" rel="stylesheet" />
    <link href="css/about.css" rel="stylesheet" />
    <link href="css/login.css" rel="stylesheet" />
    <link href="css/register.css" rel="stylesheet" />
    <link href="css/contact.css" rel="stylesheet" />
    <link href="css/profile.css" rel="stylesheet" />
    <link href="css/hero-enhanced.css" rel="stylesheet" />
    <link href="css/features-enhanced.css" rel="stylesheet" />
    <link href="css/courses-enhanced.css" rel="stylesheet" />
    <link href="css/instructor.css" rel="stylesheet" />
    <link href="css/testimonials.css" rel="stylesheet" />
    <link href="css/stats-enhanced.css" rel="stylesheet" />
    <link href="css/footer-enhanced.css" rel="stylesheet" />
    <link href="css/ExamStyles.css" rel="stylesheet" />
    <link href="css/AdditionalExamStyles.css" rel="stylesheet" />
    <link href="css/richHtmlEditor.css" rel="stylesheet" />
    <link href="css/ExamCheckout.css" rel="stylesheet" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">


    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>


    <Routes @rendermode="InteractiveServer" />
    <script src="js/lang.js"></script>
    <script src="js/stats-counter.js"></script>
    <script src="js/richHtmlEditor.js"></script>



    <script src="_framework/blazor.web.js"></script>
</body>

</html>
